.doctorsPages {
  min-height: 100vh;
  margin-bottom: 80px;
  margin-top: 64px;
  @media (max-width: 768px) {
    margin-bottom: 64px;
    margin-top: 60px;
  }
  @media (max-width: 450px) {
    margin-top: 40px;
    margin-bottom: 44px;
  }
  .buttonAnchor {
    display: flex;
    gap: 12px;
    margin: 16px 0 40px;
    @media (max-width: 450px) {
      gap: 8px;
      flex-wrap: wrap;
    }
  }
}
