.accordion {
  border-radius: 8px;
  padding: 12px;
  background-color: var(--color-bg-light-primary-hover);
  cursor: pointer;
  transition: all 0.3s ease;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .icon {
    width: 20px;
    height: 20px;
    transition: rotate 0.2s;
  }
  .iconActive {
    width: 20px;
    height: 20px;
    rotate: 180deg;
    transition: rotate 0.2s;
  }
  .content {
    overflow: hidden;
    max-height: 0;
    transition: all 0.5s linear;
    p {
      padding-top: 14px;
    }
  }
  .contentActive {
    overflow: hidden;
    max-height: 400px;
    transition: all 0.5s linear;
    p {
      padding-top: 14px;
    }
  }
  @media (hover: hover) {
    &:hover {
      background-color: var(--color-bg-light-primary-pressed);
    }
  }

  @media (hover: none) {
    &:active {
      background-color: var(--color-bg-light-primary-pressed);
    }
  }
}
