.breadcrumbs {
  background: var(--background-white);
  border-radius: 4px;
  margin-top: 16px;
  padding: 4px 8px;
  margin-bottom: 17px;
  color: var(--black300);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .blueText {
    color: var(--blue300);
  }
  .grayText {
    color: var(--black300);
  }
  .homeLink {
    color: var(--color-text-primary-default);
    display: flex;
    gap: 6px;
  }
  .icon {
    width: 20px;
    height: 20px;
  }
  .chevron {
    width: 20px;
    height: 20px;
    margin: 0 8px;
  }
  .link {
    display: flex;
    align-items: center;
  }
  .homeIcon {
    path {
      fill: var(--black300);
    }
  }
  .chevronRight {
    path {
      fill: var(--color-icon-light-default);
    }
  }
}
