.priceBlock {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  .cardBlock {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 24px;
    .priceCard {
      display: flex;
      width: 282px;
      padding: 16px;
      // height: 193px;
      gap: 16px;
      flex-direction: column;
      border-radius: 15px;
      background: var(--color-bg-button-neutral-default);
      .titleCard {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
      .btnPrice {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
