.selector {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  .head {
    display: flex;
    align-items: center;
    gap: 4px;
    vertical-align: text-top;
  }
  .whitespace {
    position: absolute;
    z-index: 999;
    top: 20px;
    padding: 16px 0 0;
  }
}
.menuDropdown {
  background-color: var(--background-white);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: var(--small);
}
.childItem {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  .text {
    white-space: nowrap;
  }
  svg {
    flex-shrink: 0;
  }
  &:hover {
    background-color: var(--color-bg-light-primary-hover);
  }
  &:active {
    background-color: var(--color-bg-light-primary-pressed);
  }
}

.link {
  text-decoration: none;
  cursor: pointer;
}
