.navigation {
  display: flex;
  padding: 9px 0;
  .logoLink {
    margin-right: 40px;
    &:hover {
      path {
        fill: #619fbb;
      }
    }
    &:active {
      path {
        fill: #0c4a66;
      }
    }
  }
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  .main {
    display: flex;
    gap: 32px;
    border-right: 1px solid var(--black200);
    padding-right: 32px;
  }
  .location {
    margin-right: auto;
    margin-left: 32px;
  }
  .user {
    display: flex;
    gap: 16px;
    .button {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 180px;
    }
  }
}

.link {
  display: flex;
  align-items: center;
  gap: 8px;
}
