/** @format */

.analysisContent {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 24px 32px;
	background: var(--black100);
	border-radius: 10px;

	@media screen and (max-width: 320px) {
		order: 1;
	}

	&Tabs {
		display: flex;
		align-items: center;
		gap: 8px;
		padding: 8px;
		border-radius: 28px;
		border: 1px solid var(--black200);
	}

	&Tab {
		border-radius: 20px;
		height: 100%;
		width: 100%;
		background: transparent;
		&:hover {
			background: var(--black200);
		}
	}

	&TabActive {
		border-radius: 20px;
		height: 100%;
		width: 100%;
		color: white;
	}

	&Text {
		// text-wrap: nowrap
	}
}
