.exitNotification {
  padding: 24px 32px;
  border-radius: 20px;
  background-color: var(--background-color);
  .exitNotificationTitle {
    font-weight: 400;
    line-height: 19.1px;
    font-size: 14px;
  }
  .exitNotificationButtons {
    margin-top: 16px;
    display: flex;
    gap: 24px;
    justify-content: center;

    button,
    a {
      &:first-child {
        padding: 10.5px 24px;
        border-radius: 40px;
        color: var(--blue400);
        transition: 250ms;
        &:hover {
          background-color: #ddf1fa;
        }
      }
    }
  }
}
