.hero {
  max-width: 100%;
  height: calc(100vh - 124px);
  background-image: url(@shared/assets/images/heroBack.webp);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 8.6vw;
  @media (max-width: 1124px) {
    height: calc(100vh - 59px);
  }
}
.textBlock {
  width: 588px;
  margin-left: 10.6vw;
  background: white;
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  border-radius: 10px;
  position: absolute;
  top: 200px;
  a {
    margin-right: auto;
  }
  .btnBlurImg {
    margin-right: auto;
    height: 40px;
    padding: 12px 24px;
  }
}

@media screen and (max-width: 780px) {
  .hero {
    height: 428px;
  }
  .textBlock {
    top: 100px;
  }
}

@media screen and (max-width: 760px) {
  .textBlock {
    position: static;
    top: 500px;
    border-radius: 0;
    width: auto;
    margin: 0;
    // padding: 0;
    box-sizing: border-box;
    border: 0;
  }
}

@media screen and (max-width: 400px) {
  .hero {
    height: 410px;
  }
  .textBlock {
    border-radius: 0;
    max-width: 100%;
    word-wrap: break-word;
    .btnBlurImg {
      margin: auto;
      padding: 12px 62px;
    }
  }
}
