.projectTitle {
  margin-bottom: 32px;
}
.reusedTextSectionWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 68px;
  gap: 56px;
}
.newsBlock {
  margin-bottom: 80px;
  .newsBlockTitle {
    margin-bottom: 24px;
  }
  .cardsWrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(280px, 384px));
    align-items: stretch;
    justify-content: center;
    gap: 19px;
    margin-bottom: 50px;
    @media (max-width: 950px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 603px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
