.projectTitle {
  margin-bottom: 32px;
}
.reusedTextSectionWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 68px;
  gap: 56px;
}
.newsBlock {
  margin-bottom: 80px;
  .newsBlockTitle {
    margin-bottom: 24px;
  }
  .cardsWrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
}
