.card {
  position: relative;
  width: 387px;
  height: 271px;
  border-radius: 20px;
  background-size: cover;
  box-shadow: 0px 4px 22.299999237060547px -7px #00000040;
  overflow: hidden;
  flex-shrink: 0;
}
.title {
  text-align: center;
  margin: 25px auto;
}
.shade {
  position: absolute;
  top: 200px;
  background-color: var(--background-color);
  transition: all 1s;
  padding: 0 42px;
}
.hovered {
  position: absolute;
  top: 0px;
  padding: 18px 50px 20px;
  background-color: var(--background-color);
  transition: all 1s;
  .title {
    margin: 16px auto;
  }
}

.button {
  margin: 16px auto;
  &:hover {
    background-color: var(--blue300);
    color: var(--background-color);
  }
}
