.box {
  width: 320px;
  height: 323px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.imgBox {
  height: 180px;
  transition: 0.3s;
  background-size: cover;
  background-color: var(--black200);
}
.capital {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  padding: 16px;
  background: white;
  transition: 0.3s;
  top: 180px;
}
.capitalHidden {
  top: 0;
}
.button {
  width: 124px;
  height: 40px;
  border: 1px solid var(--blue400);
  border-radius: 40px;
  color: var(--blue400);
  position: absolute;
  bottom: 15px;
  left: 10px;
  &:hover {
    border: 1px solid var(--blue300);
    background-color: var(--blue300);
    color: var(--black100);
  }
}
.txt {
  margin-top: 8px;
}
