.accordion {
  position: relative;
  transition: all 1000ms ease;

  .accordionTop {
    background: var(--Color-Background-Surface-Light-color-bg-light-primary-hover, #f5f6f6);
    justify-content: space-between;
    padding: 14px 16px;
    border-radius: 10px;
    align-items: center;
    font-weight: 400px;
    max-height: 48px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    border: none;
    width: 100%;

    .chevronDown {
      rotate: 180deg;
      transition: rotate 250ms;
    }
    .chevronUp {
      transition: rotate 250ms;
    }
  }
  .accordionBottom {
    flex-direction: column;
    color: var(--blue300);
    padding: 10px;
    width: 100%;
    gap: 10px;
    background: var(--Color-Background-Surface-Light-color-bg-light-primary-hover, #f5f6f6);
    box-shadow: 3px 2px 4px 4px rgb(185 185 185 / 20%);
    border-radius: 0 0 10px 10px;
    position: absolute;
    .option {
      border-radius: 10px;
      cursor: pointer;
      display: block;
      padding: 10px;
      transition: 250ms;
      @media (hover: hover) {
        &:hover {
          background-color: #d5e5ea;
        }
      }
      @media (hover: none) {
        &:hover {
          background-color: #d5e5ea;
        }
      }
    }
  }
}
