.flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
  margin-bottom: 80px;
  margin-top: 32px;
  @media (max-width: 920px) {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }
  @media (max-width: 750px) {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
