.header {
  margin-top: 64px;
  margin-bottom: 32px;
  @media (max-width: 768px) {
    margin-top: 60px;
    margin-bottom: 24px;
  }
  @media (max-width: 425px) {
    margin-top: 44px;
  }
}

.flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
  margin-bottom: 80px;
  @media (max-width: 920px) {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }
  @media (max-width: 750px) {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
