.blockHero {
  margin-top: 64px;
  margin-bottom: 61px;
  display: grid;
  column-gap: 24px;
  row-gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(auto, 588px));
  grid-template-areas:
    "A B"
    "A C";
  @media (max-width: 1115px) {
    grid-template-areas:
      "A A"
      "B C";
    justify-content: center;
  }
  @media (max-width: 768px) {
    margin-top: 48px;
    margin-bottom: 81px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  @media (max-width: 425px) {
    margin-top: 32px;
    margin-bottom: 48px;
  }
  .slider {
    grid-area: A;
    justify-self: center;
  }
  .actualCards {
    grid-area: B C;
  }
}
