.blockHero {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 20px;
  @media (max-width: 900px) {
    flex-wrap: wrap;
    justify-content: center;
  }
  .actualCards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    @media (max-width: 768px) {
      flex-direction: row;
    }
    @media (max-width: 630px) {
      flex-direction: column;
    }
  }
}
