.smsForm {
  border: 1px solid var(--black300);
  padding: 25px 55px 100px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  .smsFormHead {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    text-align: center;
    gap: 60px;
    .smsFormBack {
      cursor: pointer;
      margin-left: -38px;
    }
    .smsFormTitle {
      font-size: 24px;
      line-height: 32.74px;
    }
  }
  .smsFormBody {
    margin: 0 auto 20px;
    line-height: 20.46px;
    text-align: center;
    max-width: 206px;
    font-size: 15px;
  }
  label {
    color: var(--black400);
    line-height: 20.46px;
    font-weight: 600;
    font-size: 15px;
    text-align: start;
    margin-left: 10px;
  }
  .focusedLabel {
    color: var(--blue300);
  }
  .errorLabel {
    color: var(--error);
  }
  .formInput {
    margin-bottom: 15px;
    width: 254px;
    &:last-of-type {
      margin-bottom: 25px;
    }
  }
  .smsButton {
    max-width: 134px;
    margin: 0 auto;
  }
}
