.inputWrapper {
  display: flex;
  align-items: center;
  background-color: var(--black100);
  border-radius: 10px;
  height: 48px;
  padding: 14px;

  .chat {
    margin-right: 8px;
  }

  input {
    color: var(--blue300);
    background-color: var(--black100);
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    border: none;
    width: 100%;
    &::placeholder {
      color: var(--black300);
    }
  }

  .icon {
    cursor: pointer;
  }
}
