.inputWrapper {
  display: flex;
  align-items: center;
  background-color: var(--black100);
  border-radius: 10px;

  input {
    color: var(--blue300);
    padding: 14px 14px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 14px;
    border: none;
    height: 48px;
    width: 100%;
    &::placeholder {
      color: var(--black300);
    }
  }
  .icon {
    margin-right: 15px;
    cursor: pointer;
  }
}
