// миксин для того чтобы поставить в одну колонну елементы
@mixin flex-direction($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

.authorizationForm {
  padding: 40px 100px;
  border-radius: 10px;
  background: var(--background-color, #fff);
  box-shadow: 0px 1px 4px -1px rgba(25, 92, 121, 0.25);
  max-width: 588px;
  @media screen and (max-width: 320px) {
    padding: 0;
    border: none;
    border-radius: 0;
    max-width: 254px;
    font-size: 14px;
  }
  .formWrapper {
    @include flex-direction(30px);
    margin-bottom: 24px;
    @media screen and (max-width: 320px) {
      margin-bottom: 16px;
    }
    .authorizationBlock {
      text-align: center;
      .authorizationTitle {
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 8px;
        @media screen and (max-width: 320px) {
          font-size: 16px;
        }
      }
      .authorizationBody {
        color: #4a4a4a;
        max-width: 384 px;
        margin: 0 auto;
      }
    }
    .formWrapperInput {
      @include flex-direction(20px);
      width: 384px;
      label {
        font-size: 14px;
        font-weight: 600;
        color: var(--black400);
        margin-bottom: 40px;
      }
      .errorLabel {
        color: red;
      }
      .focusedLabel {
        color: var(--blue300);
      }
      .formInput {
        margin-top: 4px;
        width: 100%;
        border-radius: 10px;
        height: 48px;
      }
      .errorInput {
        border: 1px solid red;
      }
    }
  }
  .helpBlock {
    text-align: center;
    .helpBlockLinkTop {
      padding: 8px 16px;
      background-color: #f5f6f6;
      border-radius: 100px;
      font-weight: 700;
      color: black;
    }
    .helpBlockLinkBottom {
      font-weight: 700;
      color: var(--blue300);
    }
    .helpBlockSpan {
      margin: 48px 0 4px;
      display: block;
    }
  }
}
