// миксин для того чтобы поставить в одну колонну елементы
@mixin flex-direction($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

.authorizationForm {
  padding: 25px 55px 30px;
  border: 1px solid var(--black300);
  border-radius: 20px;
  max-width: 364px;
  @media screen and (max-width: 320px) {
    padding: 0;
    border: none;
    border-radius: 0;
    max-width: 254px;
    font-size: 14px;
  }
  .formWrapper {
    @include flex-direction(30px);
    margin-bottom: 20px;
    @media screen and (max-width: 320px) {
      margin-bottom: 16px;
    }
    .authorizationTitle {
      font-weight: 600;
      font-size: 24px;
      text-align: center;
      @media screen and (max-width: 320px) {
        font-size: 16px;
      }
    }
    .formWrapperInput {
      @include flex-direction(20px);
      label {
        font-size: 15px;
        font-weight: 600;
        color: var(--black400);
      }
      .errorLabel {
        color: red;
      }
      .focusedLabel {
        color: var(--blue300);
      }
      .formInput {
        width: 100%;
        border-radius: 40px;
        height: 40px;
      }
      .errorInput {
        border: 1px solid red;
      }
    }
  }
  .helpFormBlock {
    @include flex-direction(8px);
    font-weight: 600;
    font-size: 15px;
    @media screen and (max-width: 320px) {
      text-align: center;
    }
    .formLink {
      color: var(--blue200);
      // border-bottom: 1px solid var(--blue200)
      text-decoration: underline;
    }
  }
}
