.card {
  width: 282px;
  border-radius: 8px;
  overflow: hidden;
  @media (max-width: 946px) {
    width: 330px;
  }
  @media (max-width: 425px) {
    width: 280px;
  }
  .imageWrapper {
    width: 100%;
    height: 158px;
    @media (max-width: 946px) {
      height: 184px;
    }
    @media (max-width: 425px) {
      height: 156px;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  .selector {
    cursor: pointer;
    overflow: hidden;
    border-radius: 0 0 10px 10px;
  }

  .iconOpen {
    rotate: 180deg;
    transition: rotate 0.2s;
  }
  .icon {
    transition: rotate 0.2s;
  }

  .title {
    background: var(--color-bg-light-primary-hover);
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
  }
  .links {
    background: var(--color-bg-light-primary-hover);
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 1000px;
    transition: all 0.4s ease-out;
  }
  .noLinks {
    background: var(--color-bg-light-primary-hover);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 16px;
    padding-left: 16px;
    max-height: 0px;
    transition: all 0.4s ease-out;
  }
}
