.articleBlock {
  display: flex;
  flex-direction: column;
  gap: 19px;
  .flex {
    display: grid;
    grid-template-columns: repeat(3, minmax(280px, 384px));
    align-items: stretch;
    justify-content: center;
    gap: 19px;
    margin-bottom: 50px;
    @media (max-width: 950px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 603px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .btn {
    margin-right: auto;
  }
}
