.articleBlock {
  display: flex;
  flex-direction: column;
  gap: 19px;
  .flex {
    display: grid;
    grid-template-columns: repeat(auto-fill, 384px);
    align-items: stretch;
    justify-content: center;
    gap: 19px;
    margin-bottom: 50px;
    @media (max-width: 765px) {
      grid-template-columns: repeat(auto-fill, 330px);
      gap: 15px;
    }
    @media (max-width: 450px) {
      grid-template-columns: repeat(auto-fill, 280px);
    }
  }
  .btn {
    margin-right: auto;
  }
}
