.location {
  display: flex;
  gap: 32px;
  white-space: nowrap;
  cursor: pointer;
  .neutral {
    white-space: nowrap;
    font-size: 14px;
  }
  .active {
    white-space: nowrap;
    font-size: 14px;
    color: var(--color-text-primary-default);
  }
}
