.selector {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.menuDropdown {
  top: 25px;
  position: absolute;
  z-index: 999;
  background-color: var(--background-white);
  border-radius: 8px;
  box-shadow: var(--small);
}
.childItem {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  svg {
    flex-shrink: 0;
  }
  &:hover {
    background-color: var(--color-bg-light-primary-hover);
  }
  &:active {
    background-color: var(--color-bg-light-primary-pressed);
  }
}

.link {
  text-decoration: none;
  cursor: pointer;
}
