.card {
  width: 100%;
  // padding: 16px;
  border-radius: 8px;
  transition: all 1s;
  // background-color: var(--black200);
  cursor: pointer;
  // height: 52px;
}

.cardBlock {
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  background-color: var(--black200);
  cursor: pointer;
  height: 52px;
}

.title {
  // height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black200);
  padding: 16px;
  border-radius: 8px;
}
.titleHidden {
  // height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black200);
  padding: 16px;
  border-radius: 8px 8px 0 0;
}

.menu {
  padding: 16px;
  border-radius: 0 0 8px 8px;
  // margin-top: 16px;
  background: var(--black200);
  display: flex;
  flex-direction: column;
  gap: 16px;
  opacity: 1;
  overflow: hidden;
  max-height: 400px;
  transition:
    max-height 0.5s ease-out,
    margin-top 0.5s ease-out,
    visibility 0.5s ease-out,
    opacity 0.5s ease-out;
}

.hidden {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  max-height: 0;
  transition:
    max-height 0.25s ease,
    margin-top 0.5s ease,
    visibility 0.5s ease,
    opacity 0.5s ease;
}

.iconOpen {
  rotate: 180deg;
  transition: rotate 0.2s;
}

.icon {
  transition: rotate 0.2s;
}
