.card {
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  transition: all 1s;
  background-color: var(--black200);
  cursor: pointer;
}
.cardBlock {
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  transition: all 1s;
  background-color: var(--black200);
  cursor: pointer;
  height: 68px;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black200);
}
.menu {
  margin-top: 16px;
  background: var(--black200);
  max-height: 1000px; /* Значение должно быть больше, чем ожидаемая максимальная высота контента */
  overflow: hidden;
  opacity: 1;
  transition:
    max-height 0.7s ease,
    opacity 0.7s ease;
}
.hidden {
  margin-top: 16px;
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  transition:
    max-height 0.7s ease,
    opacity 0.7s ease,
    visibility 0.7s ease;
}

.iconOpen {
  rotate: 180deg;
  transition: rotate 0.2s;
}
.icon {
  transition: rotate 0.2s;
}
