.postHistoryForm {
  border-radius: 8px;
  background: var(--background-white, #fff);
  box-shadow:
    0px 3px 12px -1px rgba(25, 92, 121, 0.15),
    0px 2px 4px -1px rgba(25, 92, 121, 0.1);
  padding: 26px 24px;
  width: 588px;
  @media screen and (max-width: 320px) {
    border: none;
    border-radius: 0;
    padding: 0;
    width: 280px;
  }
  .postHistoryFormHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    @media screen and (max-width: 320px) {
      justify-content: center;
    }
    .postHistoryBack {
      cursor: pointer;
      @media screen and (max-width: 320px) {
        display: none;
      }
    }
    .postHistoryTitle {
      font-weight: 600;
      font-size: 24px;
      margin-left: 6px;
      @media screen and (max-width: 320px) {
        margin: 0;
        font-size: 16px;
      }
    }
    .moreVertical {
      cursor: pointer;
    }
  }
  .postHistoryFormWrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 352px;
    gap: 30px;
    @media screen and (max-width: 320px) {
      gap: 20px;
    }
  }
}
