.analysesHistoryForm {
  border: 1px solid var(--black300);
  padding: 20px 30px;
  border-radius: 20px;
  width: 638px;
  @media screen and (max-width: 320px) {
    padding: 0px;
    border: none;
    border-radius: 0;
    width: 280px;
  }
  .analysesHistoryFormHead {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    @media screen and (max-width: 320px) {
      justify-content: center;
      margin-bottom: 16px;
    }
    .analysesHistoryBack {
      cursor: pointer;
      @media screen and (max-width: 320px) {
        display: none;
      }
    }
    .analysesHistoryTitle {
      font-weight: 600;
      font-size: 24px;
      margin-left: 6px;
      @media screen and (max-width: 320px) {
        font-size: 16px;
      }
    }
  }
  .analysesHistoryFormWrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media screen and (max-width: 320px) {
      gap: 20px;
    }
  }
}
