.line {
  width: 100%;
  border: 1px solid var(--black200);
}
.red {
  border: 1px solid red;
}
.black100 {
  border: 1px solid var(--black100);
}
.black200 {
  border: 1px solid var(--black200);
}
.blacklight {
  border: 1px solid #ffffff33;
}
