//variants
.h1 {
  font-size: 40px;
  font-weight: 400;
  color: var(--color-text-paragraph-light-default);
}

.h2 {
  font-size: 32px;
  font-weight: 400;
  color: var(--color-text-paragraph-light-default);
}

.h3 {
  font-size: 24px;
  font-weight: 400;
  color: var(--color-text-paragraph-light-default);
}

.h4 {
  font-size: 22px;
  font-weight: 400;
  color: var(--color-text-paragraph-light-default);
}

.h5 {
  font-size: 20px;
  font-weight: 400;
  color: var(--color-text-paragraph-light-default);
}

.h6 {
  font-size: 18px;
  font-weight: 400;
  color: var(--color-text-paragraph-light-default);
}

.body {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-text-paragraph-light-default);
}

.smallBody {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-text-paragraph-light-default);
}

.extraSmallBody {
  font-size: 13px;
  font-weight: 400;
  color: var(--color-text-paragraph-light-default);
}

@media (max-width: 768px) {
  .h1 {
    font-size: 38px;
  }

  .h2 {
    font-size: 30px;
  }

  .h3 {
    font-size: 22px;
  }

  .h4 {
    font-size: 20px;
  }

  .h5 {
    font-size: 18px;
  }

  .h6 {
    font-size: 16px;
  }

  .body {
    font-size: 14px;
  }

  .smallBody {
    font-size: 12px;
  }

  .extraSmallBody {
    font-size: 11px;
  }
}

@media (max-width: 425px) {
  .h1 {
    font-size: 32px;
  }

  .h2 {
    font-size: 28px;
  }

  .h3 {
    font-size: 22px;
  }

  .h4 {
    font-size: 20px;
  }

  .h5 {
    font-size: 17px;
  }

  .h6 {
    font-size: 16px;
  }

  .body {
    font-size: 15px;
  }

  .smallBody {
    font-size: 13px;
  }

  .extraSmallBody {
    font-size: 12px;
  }
}

// Weight
.regular {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

// Colors
.primary {
  color: var(--color-text-primary-default);
}

.light {
  color: var(--color-text-paragraph-dark-default);
}

.secondary {
  color: var(--color-text-secondary-default);
}

.paragraph {
  color: var(--color-text-paragraph-light-default);
}

.success {
  color: var(--color-text-system-positive);
}

.error {
  color: var(--color-text-system-negative);
}

.warning {
  color: var(--color-text-system-warning);
}

.neutral {
  color: var(--color-text-system-neutral);
}
