.blockHero {
  margin: 12px 0 29px;
  display: flex;
  justify-content: center;
  gap: 56px;
  .heroTitleBlock {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 9px;
  }
  .slider {
    flex-basis: 600px;
    flex-grow: 0;
    flex-shrink: 0;
    height: 448px;
  }
}
