.section {
  margin-top: 87px;
  @media (max-width: 768px) {
    margin-top: 64px;
  }
  @media (max-width: 450px) {
    margin-top: 48px;
  }
  .blocks {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 56px;
    @media (max-width: 768px) {
      margin-top: 24px;
      gap: 48px;
    }
    @media (max-width: 450px) {
      gap: 40px;
    }
  }
}
