.cardBlock {
  margin-bottom: 30px;
  display: flex;
  width: 386px;
  height: 447px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 20px;
  background: var(--Background-White, #fff);
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.1);
  .icon {
    width: 20px;
    height: 20px;
    color: #bfbfbf;
  }
  .cardImg {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .cardTitle {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0px 24px;
    .placePiece {
      display: flex;
      gap: 5px;
    }
    .timeBlock {
      display: flex;
      flex-direction: column;
      gap: 5px;
      .timePieces {
        display: flex;
        gap: 5px;
      }
      .piece {
        display: flex;
        gap: 10px;
      }
    }
  }
}
