.sideMenu {
  max-width: 260px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--background-white);
  padding: 24px 16px;
  height: 100vh;
  overflow-y: auto; /* Включить вертикальную прокрутку */
  transform: translateX(100%);
  animation: ani 1s forwards;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 24px;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 8px;
  }

  .nav {
    display: flex;
    flex-direction: column;
    min-width: 228px;
    border-radius: 4px;
    overflow: hidden;
  }

  .selectors {
    margin-top: 12px;
    border-radius: 4px;
    overflow: hidden;
  }
}

@keyframes ani {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateY(0);
  }
}
