.selector {
  width: 100%;
  .head {
    display: flex;
    justify-content: space-between;
    padding: 10px 8px 10px 16px;
    background-color: var(--color-bg-light-primary-default);
    cursor: pointer;
    &:active {
      background-color: var(--color-bg-light-primary-pressed);
    }
  }
  .menu {
    height: auto;
    transition: height 1s linear;
  }
  .hiddenMenu {
    overflow: hidden;
    height: 0px;
    transition: height 1s linear;
  }
  .link {
    display: flex;
    justify-content: space-between;
    padding: 10px 8px 10px 16px;
    background-color: var(--color-bg-light-primary-default);
  }
}
