.selector {
  width: 100%;
  .head {
    display: flex;
    justify-content: space-between;
    padding: 10px 8px 10px 16px;
    vertical-align: text-top;
    align-items: center;
    background-color: var(--color-bg-light-primary-default);
    cursor: pointer;
    &:active {
      background-color: var(--color-bg-light-primary-pressed);
    }
  }
  .menu {
    opacity: 1;
    overflow: hidden;
    max-height: 400px;
    transition:
      max-height 0.5s ease-out,
      margin-top 0.5s ease-out,
      visibility 0.5s ease-out,
      opacity 0.5s ease-out;
  }
  .hiddenMenu {
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    max-height: 0;
    transition:
      max-height 0.25s ease,
      margin-top 0.5s ease,
      visibility 0.5s ease,
      opacity 0.5s ease;
  }
  .link {
    display: flex;
    justify-content: space-between;
    padding: 10px 8px 10px 16px;
    background-color: var(--color-bg-light-primary-default);
    cursor: pointer;
  }
  .iconOpen {
    rotate: 180deg;
    transition: rotate 0.2s;
  }
  .icon {
    transition: rotate 0.2s;
  }
}
