.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 19px;
  margin-bottom: 50px;
}

@media screen and (max-width: 765px) {
  .wrapper {
    gap: 15px;
  }
}

.title {
  margin: 40px 0 24px;
}
