.personalAccount {
  border-radius: 10px;
  background: var(--Background-bg-primary-light, #fff);
  box-shadow:
    0px 3px 12px -1px rgba(25, 92, 121, 0.15),
    0px 2px 4px -1px rgba(25, 92, 121, 0.1);
  padding: 24px 100px;

  @media screen and (max-width: 320px) {
    border: none;
    padding: 34px 20px;
    border-radius: 0;
    font-size: 14px;
  }
  .personalForm {
    margin-bottom: 32px;
    @media screen and (max-width: 320px) {
      padding: 0;
      margin-bottom: 32px;
    }
    .personalAccountHeading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      margin-bottom: 30px;
      @media screen and (max-width: 320px) {
        margin-left: 60px;
        margin-bottom: 16px;
      }
      .personalCabinetTitle {
        font-size: 24px;
        line-height: 32.74px;
        font-weight: 600;
        @media screen and (max-width: 320px) {
          font-size: 16px;
        }
      }
      .personalAccountIconOpen,
      .personalAccountIconClose {
        cursor: pointer;
      }
      .dropDownMenu {
        padding: 10px 10px;
        display: flex;
        flex-direction: column;
        position: absolute;
        background: var(--Background-bg-primary-light, #fff);
        box-shadow: 0px 4px 40px 0px #0000001a;
        border-radius: 10px;
        z-index: 99;
        top: 30px;
        right: 0;
        gap: 10px;
        a,
        .dropDownMenuEdit {
          display: inline;
          color: #1a4862;
          padding: 10px 32px 10px 10px;
          border-radius: 10px;
          transition: 200ms;
          @media screen and (max-width: 320px) {
            // width: 200px;
            padding: 10px 20px 10px 10px;
          }
          &:hover {
            background-color: #ddf1fa;
          }
        }
      }
    }
    .formWrapper {
      display: flex;
      flex-direction: column;
      max-width: 588px;

      gap: 16px;
      div {
        max-width: 384px;
        label {
          margin-bottom: 4px;
          display: block;
          font-weight: 400;
          font-size: 14px;
          color: var(--Color-Text-Light-color-text-paragraph-light-default, #010101);
        }
        .focusedLabel {
          color: var(--blue300);
        }
        .errorLabel {
          color: var(--error);
        }
        input {
          width: 384px;
          height: 48px;
          border-radius: 10px;
          color: black;
          color: var(--black400);
        }
        .focusedInput {
          outline: 1.5px solid var(--Color-Stroke-Primary-color-stroke-primary-default, #12709a);
        }
      }
      .personalAccountButton {
        display: inline-block;
        width: 100%;
      }
    }
  }
  .upcomingReceptions {
    max-width: 588px;

    .upcomingReceptionsTitle {
      color: var(--Color-Text-Light-color-text-paragraph-light-default, #010101);
      font-weight: 700;
      font-size: 24px;
      text-align: center;
      margin-bottom: 24px;
      @media screen and (max-width: 320px) {
        font-size: 16px;
        margin: 0 0 16px 0;
        text-align: center;
      }
    }
  }
  .upcomingReceptionsWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
