.footer {
  margin-top: 80px;
  background-color: var(--blue500);
  width: 100%;
  padding: 30px 0;
  @media (max-width: 768px) {
    margin-top: 64px;
  }
  @media (max-width: 425px) {
    margin-top: 48px;
  }
}

.section {
  display: flex;
  justify-content: left;
  gap: 70px;
  flex-wrap: wrap;
}
.line {
  margin: 10px 0;
}

.social {
  .socialLinks {
    display: flex;
    gap: 10px;
  }
}

.links {
  display: block;
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
  &:hover {
    text-decoration: underline;
    text-decoration-color: var(--backgound-color);
  }
}
.contact {
  display: flex;
  gap: 5px;
}

.endFooter {
  display: flex;
  justify-content: center;
  gap: 10px;
  color: var(--black100);
  margin-top: 70px;
}

.shortLine {
  width: 1px;
  height: 20px;
  background-color: var(--black400);
}

.tel {
  display: flex;
  gap: 5px;
  color: var(--black100);
}

.geeks {
  color: white;
  &:hover {
    text-decoration: underline;
    text-decoration-color: var(--backgound-color);
  }
}

.disclamer {
  max-width: 900px;
  margin: 25px auto;
  p {
    @media (max-width: 930px) {
      padding: 20px;
      text-align: center;
    }
  }
}
