.postHistoryForm {
  border: 1px solid var(--black300);
  padding: 25px 24px 30px;
  border-radius: 20px;
  width: 638px;
  .postHistoryFormHead {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    .postHistoryBack {
      cursor: pointer;
    }
    .postHistoryTitle {
      font-weight: 600;
      font-size: 24px;
      line-height: 32.74px;
      margin-left: 6px;
    }
  }
  .postHistoryFormWrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
