.blockHero {
  display: flex;
  gap: 25px;
  @media (max-width: 1065px) {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .slider {
    margin: 0 auto;
  }
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 680px;
    min-width: 430px;
    flex: 1 0;
    @media (max-width: 650px) {
      min-width: 250px;
    }
    #title {
      display: inline;
      word-break: break-word;
      color: var(--blue500);
      margin-bottom: 8px;
    }
    #description {
      color: var(--black450);
    }
  }
}
