.selector {
  width: 100%;
  .head {
    display: flex;
    justify-content: space-between;
    padding: 10px 8px 10px 16px;
    background-color: var(--color-bg-light-primary-default);
    cursor: pointer;
    .title {
      margin-left: 4px;
      margin-right: auto;
    }
    &:active {
      background-color: var(--color-bg-light-primary-pressed);
    }
  }
  .menu {
    transform-origin: top;
    transform: scaleY(1);
    transition: transform 0.4s;
  }
  .hiddenMenu {
    overflow: hidden;
    max-height: 0;
    transform-origin: top;
    transform: scaleY(0);
    transition: transform 0.4s;
  }
  .link {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 8px 10px 16px;
    background-color: var(--color-bg-light-primary-default);
  }
}
