.button {
  font-weight: 600;
  font-size: 14px;
  line-height: 19.1px;
  padding: 10.5px 24px;
  border-radius: 40px;
  color: white;
  &:hover {
    background-color: #2d8ab5;
  }
  svg {
    margin-right: 6px;
  }
  .chevronRight {
    margin: 0 0 0 10px;
  }
  &:disabled {
    background-color: var(--black300);
  }
}
.default {
  background-color: var(--blue300);
}
.orange {
  background-color: #ff842a;
  &:hover {
    background-color: #ffae4f;
  }
  font-weight: 700;
}
.border {
  border: 1px solid var(--blue400);
  &:hover {
    background-color: #389dcb;
    border: 1px solid #389dcb;
    color: white;
  }
  color: var(--blue400);
}

.blueBorder {
  border: 1px solid var(--blue300);
  position: relative;
  z-index: -2;
  &:hover {
    background-color: var(--blue300);
    border: none;
    color: white !important;
  }
}

.txtBorder {
  border: 1px solid var(--blue300);
  color: var(--blue300);
  &:hover {
    background-color: var(--blue300);
    border: none;
    color: white !important;
  }
}

.errorStyle {
  padding: 8px 24px;
}
.documentStyle {
  padding: 14px 24px;
}
.recordingStyle {
  padding: 8px 57px;
}
.linkStyle {
  padding: 10.5px 32px;
}
