.feedback {
  width: 50px;
  height: 50px;
  display: flex;
  cursor: pointer;
  align-items: center;
  border-radius: 50px;
  justify-content: center;
  background-color: var(--background-white);
  box-shadow: 0px 4px 40px 0px #0000001a;
  right: 35px;
  bottom: 35px;
  position: fixed;
  z-index: 100;
}

.questio {
  border-radius: 20px;
  padding: 56px 80px 40px;
  max-width: 560px;
  background-color: var(--background-color);
  position: relative;
  font-weight: 400;
  z-index: 100;
  font-size: 14px;
  @media screen and (max-width: 760px) {
    padding: 56px 60px 40px;
    max-width: 440px;
  }
  @media screen and (max-width: 320px) {
    max-width: 300px;
    padding: 56px 20px 40px;
  }
  .closeModal {
    position: absolute;
    cursor: pointer;
    top: 32px;
    right: 32px;
  }
  .questioForm {
    text-align: center;
    max-width: 360px;
    .questioTitle {
      line-height: 24.55px;
      margin-bottom: 24px;
      font-weight: 400;
      font-size: 22px;
      @media screen and (max-width: 760px) {
        font-size: 20px;
      }
      @media screen and (max-width: 320px) {
        font-size: 20px;
      }
    }
    .questioUser {
      gap: 8px;
      height: 40px;
      display: flex;
      padding: 10px 15px;
      align-items: center;
      border-radius: 40px;
      margin: 12px 0;
      justify-content: center;
      background-color: var(--black100);
      input {
        outline: none;
        padding: 0;
        color: var(--blue300);
        &::placeholder {
          color: var(--black300);
        }
      }
    }
    .questioText {
      display: flex;
      align-items: flex-start;
      gap: 8px;
      margin-bottom: 4px;
      padding: 16px 15px;
      border-radius: 10px;
      background-color: var(--black100);
      textarea {
        background-color: var(--black100);
        border: none;
        height: 118px;
        resize: none;
        overflow-y: hidden;
        width: 100%;
        outline: none;
        padding: 0;
        color: var(--blue300);
        &::placeholder {
          color: var(--black300);
        }
      }
    }
    .questioCounter {
      color: var(--black300);
      display: block;
      text-align: end;
    }
    .questioBtn {
      margin-top: 16px;
      width: 100%;
    }
  }
}
