.feedback {
  width: 50px;
  height: 50px;
  display: flex;
  cursor: pointer;
  align-items: center;
  border-radius: 50px;
  justify-content: center;
  background-color: var(--background-white);
  box-shadow: 0px 4px 40px 0px #0000001a;
  right: 35px;
  bottom: 35px;
  position: fixed;
  z-index: 100;
}

.questio {
  border-radius: 20px;
  padding: 40px 80px;
  max-width: 560px;
  background-color: var(--background-white);
  position: relative;
  font-weight: 400;
  z-index: 100;
  font-size: 14px;
  @media screen and (max-width: 760px) {
    padding: 56px 60px 40px;
    max-width: 440px;
  }
  @media screen and (max-width: 320px) {
    max-width: 300px;
    padding: 56px 20px 40px;
  }
  .closeModal {
    position: absolute;
    cursor: pointer;
    top: 32px;
    right: 32px;
  }
  .questioForm {
    text-align: center;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    .questioTitle {
      margin-bottom: 24px;
      font-weight: 700;
      font-size: 22px;
      @media screen and (max-width: 760px) {
        font-size: 20px;
      }
      @media screen and (max-width: 320px) {
        font-size: 20px;
      }
    }
    .feedbackLabel {
      display: block;
      text-align: start;
      margin-bottom: 4px;
    }
    .fio {
      width: 100%;
      border-radius: 10px;
      height: 48px;
      color: var(--blue300);
      &::placeholder {
        color: var(--black300);
      }
    }
    .bodyText {
      width: 100%;
      height: 118px;
      border-radius: 10px;
      border: none;
      resize: none;
      outline: none;
      background-color: var(--black100);
      color: var(--blue300);
      padding: 15px;
      &::placeholder {
        color: var(--black300);
      }
    }
    .questioCounter {
      color: var(--black300);
      display: block;
      text-align: end;
    }
    .questioBtn {
      display: inline-block;
      width: 100%;
    }
  }
}
