.wrapper {
  height: 100vh;
  overflow: hidden;
  
  .text {
    text-align: center;
    margin-top: 125px;
    margin-bottom: 32px;
  }

  .cards {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 21px;
  }
}
