.heroRehabilitation {
  display: flex;
  align-items: center;
  gap: 32px;
  @media (max-width: 650px) {
    display: flex;
    flex-direction: column;
  }
  &Content {
    width: 100%;
    max-width: 632px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &Button {
    width: fit-content;
    display: flex;
  }
  &Image {
    width: 100%;
    min-width: 280px;
    max-width: 450px;
  }

  @media (max-width: 1050px) {
    display: flex;   
  }
  &Content {
    width: 100%;
    max-width: 632px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &Button {
    width: fit-content;
    display: flex;
  }
  &Image {
    width: 100%;
    min-width: 280px;
    max-width: 450px;
  }
  &Item {
    display: flex;
    align-items: center;
  }
}
