.headerMobile {
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--small);
}

.item {
  display: flex;
  align-items: center;
  gap: 3px;
}

.search {
  margin: 0 24px 0 auto;
  @media (max-width: 760px) {
    display: none;
  }
}

.phoneLink {
  color: var(--warning);
}
