.servicesBlock {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 80px;
  @media (max-width: 768px) {
    margin-bottom: 48px;
  }
  @media (max-width: 425px) {
    margin-bottom: 16px;
  }
  .cardBlock {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 13px;
    @media (max-width: 1180px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 830px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 550px) {
      grid-template-columns: 1fr;
    }
  }
}
