.branchesSection {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  @media (max-width: 768px) {
    margin-top: 64px;
    gap: 24px;
  }
  @media (max-width: 425px) {
    margin-top: 48px;
    gap: 20px;
  }
  .cardBlock {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(296px, 1fr));
    @media (max-width: 768px) {
      grid-template-columns: repeat(auto-fill, minmax(296px, 380px));
    }
  }
}
