.personalAccount {
  border: 1px solid var(--black300);
  border-radius: 20px;
  padding: 24px 24px 34px;
  @media screen and (max-width: 320px) {
    border: none;
    padding: 34px 20px;
    border-radius: 0;
  }
  .personalForm {
    padding: 0 20px;
    margin-bottom: 100px;
    @media screen and (max-width: 320px) {
      padding: 0;
      margin-bottom: 32px;
    }
    .personalAccountHeading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      margin-bottom: 30px;
      @media screen and (max-width: 320px) {
        margin-left: 60px;
        margin-bottom: 16px;
      }
      .personalCabinetTitle {
        font-size: 24px;
        line-height: 32.74px;
        font-weight: 600;
        @media screen and (max-width: 320px) {
          font-size: 16px;
        }
      }
      .personalAccountIconOpen,
      .personalAccountIconClose {
        cursor: pointer;
      }
      .dropDownMenu {
        padding: 10px 10px;
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: var(--background-color);
        box-shadow: 0px 4px 40px 0px #0000001a;
        border-radius: 20px 0 20px 20px;
        z-index: 100;
        top: 30px;
        right: 0;
        gap: 10px;
        a,
        .dropDownMenuEdit {
          display: inline;
          color: #1a4862;
          padding: 10px 32px 10px 10px;
          border-radius: 10px;
          transition: 200ms;
          @media screen and (max-width: 320px) {
            // width: 200px;
            padding: 10px 20px 10px 10px;
          }
          &:hover {
            background-color: #ddf1fa;
          }
        }
      }
    }
    .formWrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      max-width: 534px;
      gap: 20px;
      @media screen and (max-width: 320px) {
        grid-template-columns: 1fr;
      }
      div {
        width: 254px;
        label {
          margin-left: 10px;
          font-weight: 600;
          font-size: 15px;
          line-height: 20.46px;
          color: var(--black400);
          @media (max-width: 320px) {
            font-size: 14px;
          }
        }
        .focusedLabel {
          color: var(--blue300);
        }
        .errorLabel {
          color: var(--error);
        }
        input {
          border-radius: 10px;
          color: black;
          color: var(--black400);
        }
        .personalCabinetInput {
          input {
            border-radius: 40px;
            color: var(--black500);
          }
        }
        .cabinetInputPhone {
          width: 254px;
          height: 40px;
        }
        .cabinetInputPhoneActive {
          color: var(--black500);
          border-radius: 40px;
          width: 254px;
          height: 40px;
        }
        .fakeInput {
          font-size: 14px;
          font-weight: 400;
          line-height: 19.1px;
          width: 254px;
          height: 40px;
        }
      }
    }
    .personalAccountButton {
      margin: 30px 0 -70px;
      @media screen and (max-width: 320px) {
        margin: 16px auto;
      }
    }
  }
  .upcomingReceptions {
    .upcomingReceptionsTitle {
      font-weight: 600;
      font-size: 24px;
      margin: 0 0 20px 26px;
      @media screen and (max-width: 320px) {
        font-size: 16px;
        margin: 0 0 16px 0;
        text-align: center;
      }
    }
  }
  .upcomingReceptionsWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
