.personalAccount {
  border: 1px solid var(--black300);
  border-radius: 20px;
  padding: 24px 24px 34px;
}
.personalAccount .personalForm {
  padding: 0 20px;
  margin-bottom: 100px;
}
.personalAccount .personalForm .personalAccountHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
}
.personalAccount .personalForm .personalAccountHeading .personalCabinetTitle {
  font-size: 24px;
  line-height: 32.74px;
  font-weight: 600;
}
.personalAccount .personalForm .personalAccountHeading .personalAccountIconOpen,
.personalAccount .personalForm .personalAccountHeading .personalAccountIconClose {
  cursor: pointer;
}
.personalAccount .personalForm .personalAccountHeading .dropDownMenu {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--background-color);
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 20px 0 20px 20px;
  z-index: 100;
  top: 30px;
  right: 0;
  gap: 10px;
}
.personalAccount .personalForm .personalAccountHeading .dropDownMenu a,
.personalAccount .personalForm .personalAccountHeading .dropDownMenu .dropDownMenuEdit {
  display: inline;
  color: #1a4862;
  padding: 12px 42px 10px 12px;
  border-radius: 10px;
  transition: 200ms;
}
.personalAccount .personalForm .personalAccountHeading .dropDownMenu a:hover,
.personalAccount .personalForm .personalAccountHeading .dropDownMenu .dropDownMenuEdit:hover {
  background-color: #ddf1fa;
}
.personalAccount .personalForm .formWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 534px;
  gap: 20px;
}
.personalAccount .personalForm .formWrapper div {
  width: 254px;
}
.personalAccount .personalForm .formWrapper div label {
  margin-left: 10px;
  font-weight: 600;
  font-size: 15px;
  line-height: 20.46px;
  color: var(--black400);
}
@media (max-width: 320px) {
  .personalAccount .personalForm .formWrapper div label {
    font-size: 14px;
  }
}
.personalAccount .personalForm .formWrapper div .focusedLabel {
  color: var(--blue300);
}
.personalAccount .personalForm .formWrapper div .errorLabel {
  color: var(--error);
}
.personalAccount .personalForm .formWrapper div input {
  border-radius: 10px;
  color: black;
  color: var(--black400);
}
.personalAccount .personalForm .formWrapper div .personalCabinetInput input {
  border-radius: 40px;
  color: var(--black500);
}
.personalAccount .personalForm .formWrapper div .cabinetInputPhone {
  width: 254px;
  height: 40px;
}
.personalAccount .personalForm .formWrapper div .cabinetInputPhoneActive {
  color: var(--black500);
  border-radius: 40px;
  width: 254px;
  height: 40px;
}
.personalAccount .personalForm .formWrapper div .fakeInput {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.1px;
  width: 254px;
  height: 40px;
}
.personalAccount .personalForm .personalAccountButton {
  margin: 30px 0 -70px;
}
.personalAccount .upcomingReceptions .upcomingReceptionsTitle {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32.74px;
  margin-left: 26px;
}
.personalAccount .upcomingReceptions .notificationOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.personalAccount .upcomingReceptions .notificationOverlay .upcomingReceptionNotification {
  padding: 24px 32px;
  border-radius: 20px;
  background-color: var(--background-color);
}
.personalAccount
  .upcomingReceptions
  .notificationOverlay
  .upcomingReceptionNotification
  .upcomingReceptionNotificationTitle {
  font-weight: 400;
  line-height: 19.1px;
  font-size: 14px;
}
.personalAccount
  .upcomingReceptions
  .notificationOverlay
  .upcomingReceptionNotification
  .upcomingReceptionNotificationButtons {
  margin-top: 16px;
  display: flex;
  gap: 24px;
}
.personalAccount
  .upcomingReceptions
  .notificationOverlay
  .upcomingReceptionNotification
  .upcomingReceptionNotificationButtons
  button,
.personalAccount
  .upcomingReceptions
  .notificationOverlay
  .upcomingReceptionNotification
  .upcomingReceptionNotificationButtons
  a {
  padding: 10.5px 24px;
  border-radius: 40px;
}
.personalAccount
  .upcomingReceptions
  .notificationOverlay
  .upcomingReceptionNotification
  .upcomingReceptionNotificationButtons
  button:last-child,
.personalAccount
  .upcomingReceptions
  .notificationOverlay
  .upcomingReceptionNotification
  .upcomingReceptionNotificationButtons
  a:last-child {
  background-color: var(--blue300);
  transition: 250ms;
  color: white;
}
.personalAccount
  .upcomingReceptions
  .notificationOverlay
  .upcomingReceptionNotification
  .upcomingReceptionNotificationButtons
  button:last-child:hover,
.personalAccount
  .upcomingReceptions
  .notificationOverlay
  .upcomingReceptionNotification
  .upcomingReceptionNotificationButtons
  a:last-child:hover {
  background-color: #619fbb;
}
.personalAccount
  .upcomingReceptions
  .notificationOverlay
  .upcomingReceptionNotification
  .upcomingReceptionNotificationButtons
  button:first-child,
.personalAccount
  .upcomingReceptions
  .notificationOverlay
  .upcomingReceptionNotification
  .upcomingReceptionNotificationButtons
  a:first-child {
  color: #0c4a66;
  transition: 250ms;
}
.personalAccount
  .upcomingReceptions
  .notificationOverlay
  .upcomingReceptionNotification
  .upcomingReceptionNotificationButtons
  button:first-child:hover,
.personalAccount
  .upcomingReceptions
  .notificationOverlay
  .upcomingReceptionNotification
  .upcomingReceptionNotificationButtons
  a:first-child:hover {
  background-color: #ddf1fa;
}
.personalAccount .upcomingReceptionsWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
} /*# sourceMappingURL=PersonalAccount.module.css.map */
