.smsForm
  border: 1px solid var(--black300)
  padding: 25px 55px 100px
  border-radius: 20px
  display: flex
  flex-direction: column
  text-align: center
  .smsFormHead
    display: flex
    align-items: center
    margin-bottom: 5px
    gap: 47px
    .smsFormBack
      cursor: pointer
      margin-left: -38px
    .smsFormTitle
      font-size: 24px
      line-height: 32.74px
  .smsFormBody
    margin: 0 auto 36px
    max-width: 206px
    font-size: 15px
    line-height: 20.46px
  label
    text-align: start
    margin-left: 10px
    font-weight: 600
    line-height: 20.46px
    color: var(--black400)
  .focusedLabel
    color: var(--blue300)
  .errorLabel
    color: var(--error)
  .formInput
    margin-bottom: 55px
    max-width: 254px
    border-radius: 40px
    height: 40px 
    font-weight: 400
    font-size: 14px
    line-height: 19.1px
  .smsButton
    max-width: 134px
    margin: 0 auto