.header {
  margin-top: 64px;
  margin-bottom: 32px;
}

.wrapper {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;

  .question {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .actual {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

// Адаптация для экрана шириной 1050px
@media screen and (max-width: 1050px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    gap: 64px;
    .actual {
      display: grid;
      grid-template-columns: repeat(2, minmax(332px, auto));
      grid-template-rows: 1fr 1fr;
      row-gap: 16px;
      column-gap: 16px;
    }

    .question {
      gap: 20px;
    }
  }
}

// Адаптация для экрана шириной 650px
@media screen and (max-width: 650px) {
  .wrapper {
    flex-direction: column;

    .actual {
      display: none;
    }

    .question {
      width: 100%;
      max-width: none;
    }
  }
}
