.smsForm {
  border: 1px solid var(--black300);
  padding: 25px 55px 100px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 320px) {
    max-width: 254px;
    border: none;
    border-radius: 0;
    padding: 0;
  }
  .smsFormHead {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    text-align: center;
    gap: 60px;
    @media screen and (max-width: 320px) {
      justify-content: center;
    }
    .smsFormBack {
      cursor: pointer;
      margin-left: -38px;
      @media screen and (max-width: 320px) {
        display: none;
      }
    }
    .smsFormTitle {
      font-size: 24px;
      @media screen and (max-width: 320px) {
        font-size: 16px;
      }
    }
  }
  .smsFormBody {
    color: var(--Black-400, #6f6f6f);
    margin: 0 auto 20px;
    text-align: center;
    max-width: 206px;
    font-size: 14px;
  }
  label {
    color: var(--black400);
    font-weight: 600;
    font-size: 14px;
    text-align: start;
    margin-left: 10px;
  }
  .focusedLabel {
    color: var(--blue300);
  }
  .errorLabel {
    color: var(--error);
  }
  .passwordInput {
    margin-bottom: 14px;
    width: 254px;
    &:last-of-type {
      margin-bottom: 25px;
      @media screen and (max-width: 320px) {
        margin-bottom: 16px;
      }
    }
  }
  .smsButton {
    max-width: 134px;
    margin: 0 auto;
  }
}
