.errorWrapper {
  display: flex;
  justify-content: center;
  padding: 50px 0 380px;
  .errorContent {
    text-align: center;
  }
  .errorImg {
    max-width: 590px;
    margin-bottom: 6px;
    height: auto;
  }
  .errorTitle {
    font-size: 23px;
    line-height: 31.37px;
    margin-bottom: 6px;
    font-weight: 700;
    color: var(--blue500);
  }
  .errorSubTtitle {
    line-height: 20.46px;
    font-size: 15px;
    font-weight: 600;
    color: var(--warning);
  }
  .errorBtn {
    margin: 40px auto 0;
    background-color: var(--blue300);
    transition: 250ms;
    border-radius: 100px;
    align-items: center;
    padding: 12px 24px;
    cursor: pointer;
    display: flex;
    width: 160px;
    gap: 6px;
    &:hover {
      background-color: #389dcb;
    }
    .errorBtnText {
      font-weight: 700;
      line-height: 19.1px;
      font-size: 14px;
      color: white;
    }
  }
}
