.errorWrapper {
  display: flex;
  justify-content: center;
  padding: 50px 0;
  .errorContent {
    text-align: center;
  }
  .imgWrapper {
    margin-bottom: 32px;
  }
  .errorTitle {
    font-size: 23px;
    line-height: 31.37px;
    margin-bottom: 6px;
  }
  .errorSubTtitle {
    line-height: 20.46px;
    font-size: 15px;
  }
  .errorBtn {
    margin: 40px auto 0;
    background-color: var(--blue300);
    transition: 250ms;
    border-radius: 100px;
    align-items: center;
    padding: 12px 24px;
    cursor: pointer;
    display: flex;
    width: 160px;
    gap: 6px;
    white-space: nowrap;
    &:hover {
      background-color: #389dcb;
    }
    .errorBtnText {
      line-height: 19.1px;
    }
  }
}
