.passwordResetWrapper {
  display: flex;
  justify-content: center;
  padding-top: 64px;

  @media screen and (max-width: 760px) {
    padding-top: 48px;
  }
  @media screen and (max-width: 420px) {
    padding-top: 32px;
  }
}
